.h1{
    margin-left: 10x;
    margin-top: -10px;
    position: fixed;
    font-family: sans-serif;
    font-size: 200px;
    color: #cebaba;
    background-color: #cebaba;
}

.f{
    position: fixed;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(206, 186, 186);
    text-align: center;
    margin-left: 725px;
    margin-top: 200px;
    
}

.g{
    position: fixed;
    font-family: sans-serif;
    font-size: 50px;
    color: rgb(206, 186, 186);
    text-align: center;
    margin-left: 1050px;
    margin-top: 170px;

}