.btcprice{
    margin-left: 0px;

}

#m {
    font-family: sans-serif;
    margin-left: 450px;
    color: wheat;
    margin-top: 50px;

}

#pic{
    width: 60%;
    height: auto;
    margin-top: 50px;
    margin-left: 260px;

}

.crae{
    margin-left: 400px;
    margin-top: -200px;
    color:yellowgreen;
}

.sporthead{
    color: blanchedalmond;
    text-align: center;
    margin-left: 0%;
}